
body{
    margin: 0 auto;
    font-family: 'Red Hat Display', sans-serif;
    color: black;
    padding: 1em;
    text-align: center;
    background-color: crimson;
   }


h1 {
    font-weight: 2em;
}

/* hidden hides the buttons once 5 is reached */ 
.hidden {
    display: none
}; 

/* Options stylised selector */
#buttonImg { 
    height: 0.5em;
    width: 0.5em
}

.optionsContainer {
    width: 75%;
    height: auto;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

}

.box {
    width: 2em;
    height: auto;
    background-color: crimson;
}

#optionsImg {
    height: 3em;
    width: 3em;
}